#top{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 25%;
}
#header {
    width: 32%;
    margin: 0 auto;
    font-size: 30px;
}

#radiobuttons{
    margin: 115px 0 0 150px;
    width: 150px;
    font-size: 20px;
    position: relative;
    float: left;
}
input[type=button]{
    width: 260px;
    font-size: 22px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
    outline: none;
    height: 40px;
}
#create{
    background-color: lawngreen;
    border-color: limegreen;
}
input[type=button]:hover{
    opacity: 0.6;
}
#update{
    background-color: yellow;
    border-color: gold;
}
#delete {
    background-color: red;
    border-color: firebrick;
}
tr, th{
    padding-right: 98px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 98px;
    border-bottom:1pt solid darkgray;
    border-top:1pt solid darkgray;
}
td{
    padding-bottom: 10px;
}
#head{
    text-align: center;
}
table{
    position: relative;
    margin-top: 50px;
    font-size: 20px;
    border-collapse: collapse;
}

tbody{
    margin-right: 20px;
}
.input {
    border-radius: 20px;
    border: 1px solid;
    width: 250px;
    height: 35px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}
input[type=text]::placeholder{
    font-size: 20px;
    padding-top: 2px;
}


